

/* git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/ProgrammingHeroWC4/the-superhero-direction-Tanvir-Anzum.git
git push -u origin main */




.mid{
/* margin-left: auto;
margin-right: auto;
color: blue;
width: fit-content; */
display: flex;
flex-direction: column;
align-items: center;
}


.tawsif{
 color: black;
 background-color: rgb(136, 255, 0);
 width: fit-content;
 margin-left: auto;
 margin-right: auto;
 border: 5px solid rgb(0, 195, 255);
 border-radius: 7px;
 padding: 10px;
}

h1{
 font-size: 24px;
 color: red;
}


